<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verba Naturalis (beta)</title>
</head>
<h1>Verba Naturalis (beta)</h1>
<form method="post">
    <textarea name="input" rows="10" cols="50"></textarea>
    <br>
    <input type="submit" name="submit" value="summarize">
    <input type="submit" name="submit" value="sentiment">
</form>
{% if tokens %}
    <h2>Tokenization</h2>
    <table>
        <tr>
            <th>Word</th>
            <th>Frequency</th>
        </tr>
        {% for word, frequency in tokens.items() %}
        <tr>
            <td>{{ word }}</td>
            <td>{{ frequency }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if summary %}
<h2>Summary</h2>
<div id="summary">{{ summary }}</div>
{% endif %}
{% if sentiment %}
<h2>Sentiment</h2>
<p>The sentiment of the text is: {{ sentiment }}</p>
{% endif %}
{% if error %}
<h2>Error</h2>
<p>{{ error }}</p>
{% endif %}

</html>
