<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verba Naturalis (beta)</title>
</head>
<h1>Verba Naturalis (beta)</h1>
<form method="post">
    <textarea name="input" rows="10" cols="50"></textarea>
    <br>
    <input type="submit" name="submit" value="tokenize">
    <input type="submit" name="submit" value="summarize">
    <input type="submit" name="submit" value="sentiment">
</form>
{% if tokens %}
<h2>Tokenization</h2>
<table>
    <tr>
        <th>Token</th>
        <th>Tag</th>
    </tr>
    {% for token, tag in tagged_tokens %}
    <tr>
        <td>{{ token }}</td>
        <td>{{ tag }}</td>
    </tr>
    {% endfor %}
</table>
{% endif %}
{% if summary %}
<h2>Summary</h2>
<div id="summary">{{ summary }}</div>
{% endif %}
{% if sentiment %}
<h2>Sentiment</h2>
<p>The sentiment of the text is: {{ sentiment }}</p>
{% endif %}
{% if error %}
<h2>Error</h2>
<p>{{ error }}</p>
{% endif %}

</body>
