<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Verba Naturalis (beta)</title>
    <!--  Load CSS -->
    <link rel="stylesheet" href='static/main.css'>
<!--  Load Google fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>
<h1>Verba Naturalis (beta)</h1>
<form method="post">
    <textarea name="input" rows="10" cols="50"></textarea>
    <br>
    <input type="submit" name="submit" value="Summarize">
    <input type="submit" name="submit" value="Sentiment">
</form>
{% if tokens %}
    <h2>Tokenization</h2>
    <table>
        <tr>
            <th>Word</th>
            <th>Frequency</th>
        </tr>
        {% for word, frequency in tokens.items() %}
        <tr>
            <td>{{ word }}</td>
            <td>{{ frequency }}</td>
        </tr>
        {% endfor %}
    </table>
{% endif %}
{% if summary %}
<h2>Summary</h2>
<div id="summary">{{ summary }}</div>
{% endif %}
{% if sentiment %}
<h2>Sentiment</h2>
<p>The sentiment of the text is: {{ sentiment }}</p>
{% endif %}
{% if error %}
<h2>Error</h2>
<p>{{ error }}</p>
{% endif %}

</html>
